
@model  HMS1.Areas.Dashboard.Models.ViewModel.AccomodationListModel
    





@if (Model != null && Model.Accomodations != null && Model.Accomodations.Count() > 0)
{

<table class="table table-striped">
    <thead>
        <tr>
            
            <th scope="col">    Name    </th>
            <th scope="col">    Description   </th>
            <th scope="col">    Accomodaton Package     </th>
            <th scope="col">    Actions     </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Accomodations)
        {
            <tr>

                <td>
                    @item.Name 
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                   @item.AccomodationPackagee.Name
                </td>
                <td>
                    <button type="button" data-href="@Url.Action("Action","Accomodation", new { ID =  item.ID})" id="editButton" class="data-btn btn btn-success"  data-toggle="modal" data-target="#actionModal"> <i class="fas fa-edit mr-1"></i>  Edit    </button>
                    <button type="button" data-href="@Url.Action("Delete","Accomodation", new { ID =  item.ID})" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal">   <i class="far fa-trash-alt mr-1"></i>  Delete  </button>

                </td>
            </tr>
        }
      
      
    </tbody>
</table>
<hr />
    if (Model.Pager.EndPage > 1)
    {
        <nav>

            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Accomodation")">
                      <small>First</small>  
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>

             <li class="page-item">
                     <a class="page-link" href="@Url.Action("Index", "Accomodation", new { page = Model.Pager.CurrentPage - 1 ,searchTerm = Model.SearchTerm, AccomodationPackageeID = Model.AccomodationPackageeID  })">
                         <small>Previous</small>
                         <i class="fas fa-arrow-left"></i>
 
                     </a>
             </li>
                    
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                  
                  <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Accomodation", new { page = page ,searchTerm = Model.SearchTerm, AccomodationPackageeID = Model.AccomodationPackageeID })">
                            <small>@page</small>
                        </a>
                    </li> 
                }


                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Accomodation",new { page = Model.Pager.CurrentPage  + 1,searchTerm = Model.SearchTerm, AccomodationPackageeID = Model.AccomodationPackageeID  })">
                            <small>Next</small>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Accomodation",new { page = Model.Pager.TotalPages ,searchTerm = Model.SearchTerm, AccomodationPackageeID = Model.AccomodationPackageeID })">
                           
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }

}
else
{

    <div class="alert alert-warning" role="alert">
        Sorry!  No records exits yet!
    </div>
}